.header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--font-size-h1);
  color: var(--main-light-text-color);
  margin: 0px 50px;
}

.welcome {
  font-size: var(--font-size-h1);
  margin: 0px 30px;
  color: var(--main-light-text-color);
}

.body {
  height: 90%;
  width: 100%;
  /* background-color: rgba(11, 224, 11, 0.144); */
  display: flex;
  flex-direction: row;
}

.col-area {
  height: 100%;
  width: 30%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-value-scrollable-content {
  height: 90%;
  width: 90%;
  /* background-color: gold; */
  overflow-y: auto;
}

.single-value-scrollable-item {
  font-size: var(--font-size-h2);
  height: 40px;
  width: 100%;
  background-color: var(--light-blue-transparent-color);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.row-area {
  height: 100%;
  width: 70%;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chart-area {
  /* background-color: green; */
  height: 60%;
  width: 100%;
}

.chart-scrollable-content {
    height: 90%;
    width: 90%;
    /* background-color: gold; */
    overflow-y: auto;
  }

  .chart-item{
    font-size: var(--font-size-h2);
  height: auto;
  width: 100%;
  background-color: var(--light-blue-transparent-color);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }

.summary-area {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.summary-content {
    height: 90%;
    width: 100%;
    margin-right: 100px;
    font-size: var(--font-size-h2);
    overflow-y: auto;
    background-color: var(--light-blue-transparent-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    white-space: pre-wrap;
    padding-left: 20px;
}

