:root {
  --main-light-text-color: #f3f3f3;
  --main-dark-text-color:#202020;
  --dark-blue-color: #2E4265;
  --light-blue-color: #eaf0fb;
  --primary-orange-color:#ff920d;
  --light-orange-color:#facf9a;
  --dark-orange-color:#a65b00;
  --primary-green-color:#406934;
  --primary-red-color:#833535;
}
