:root {
    --font-size-h1: 50px; /* Heading 1 (h1) font size */
    --font-size-h2: 30px; /* Heading 2 (h2) font size */
    --font-size-h3: 20px; /* Heading 2 (h2) font size */
    --font-size-body: 16px; /* Body text font size */
    --font-size-small: 14px; /* Small text font size */
  }  